In [50]:
import pandas as pd
data = pd.read_table('/home/zhongjuliu/database/金融/模型/badcase/feature_import.txt')
data2 = pd.read_table('/home/zhongjuliu/database/金融/模型/badcase/feature_import_all.txt')

In [52]:
print data.shape
print data2.shape

(7566, 86)
(36825, 86)

In [8]:
data.index

RangeIndex(start=0, stop=7566, step=1)

In [54]:
describe1 = data.describe()
describe2 = data2.describe()

In [22]:
type(describe)
# describe.loc['std']

pandas.core.frame.DataFrame

In [86]:
std_mean1 = describe1.loc[['std', 'mean']].rename(index={'std': 'std1', 'mean': 'mean1'})

In [90]:
std_mean2 = describe2.loc[['std', 'mean']]

In [91]:
std_mean1

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>od_days</th>
      <th>fst_od_days</th>
      <th>max_ious_overdue_days</th>
      <th>repay_normal_prcp_amount</th>
      <th>flight_avg_pre_order_day</th>
      <th>total_ious_overdue_days</th>
      <th>user_ip_city_count</th>
      <th>term_1_avg_ious_amount</th>
      <th>order_success_amount_ratio</th>
      <th>...</th>
      <th>flight_stddev</th>
      <th>flight_stddev_z_price</th>
      <th>card_debit_bank_count</th>
      <th>avg_serv_refund_amount</th>
      <th>contact_top1_address_city</th>
      <th>ious_overdue_terms</th>
      <th>term_1_ious_amount</th>
      <th>card_min_remain_year</th>
      <th>log_u_token_reg_hindex</th>
      <th>max_repay_fine_amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>std1</th>
      <td>5.283581e+07</td>
      <td>44.870215</td>
      <td>44.939279</td>
      <td>8.846017</td>
      <td>7374.109937</td>
      <td>7.904415</td>
      <td>59.967551</td>
      <td>7.522460</td>
      <td>409.522434</td>
      <td>18.468256</td>
      <td>...</td>
      <td>507.920514</td>
      <td>0.446992</td>
      <td>0.791222</td>
      <td>331.859979</td>
      <td>21450.638864</td>
      <td>9.538044</td>
      <td>10945.403621</td>
      <td>1.723167</td>
      <td>5.068026</td>
      <td>6.157713</td>
    </tr>
    <tr>
      <th>mean1</th>
      <td>1.742144e+08</td>
      <td>125.835448</td>
      <td>125.726540</td>
      <td>3.925985</td>
      <td>3302.634331</td>
      <td>6.083846</td>
      <td>17.619746</td>
      <td>12.093577</td>
      <td>376.431414</td>
      <td>45.665741</td>
      <td>...</td>
      <td>426.102586</td>
      <td>0.496781</td>
      <td>1.405498</td>
      <td>190.359951</td>
      <td>1941.861486</td>
      <td>3.757335</td>
      <td>5841.050876</td>
      <td>0.882270</td>
      <td>3.599789</td>
      <td>1.860037</td>
    </tr>
  </tbody>
</table>
<p>2 rows × 83 columns</p>
</div>

In [92]:
std_mean2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>od_days</th>
      <th>fst_od_days</th>
      <th>max_ious_overdue_days</th>
      <th>repay_normal_prcp_amount</th>
      <th>flight_avg_pre_order_day</th>
      <th>total_ious_overdue_days</th>
      <th>user_ip_city_count</th>
      <th>term_1_avg_ious_amount</th>
      <th>order_success_amount_ratio</th>
      <th>...</th>
      <th>flight_stddev</th>
      <th>flight_stddev_z_price</th>
      <th>card_debit_bank_count</th>
      <th>avg_serv_refund_amount</th>
      <th>contact_top1_address_city</th>
      <th>ious_overdue_terms</th>
      <th>term_1_ious_amount</th>
      <th>card_min_remain_year</th>
      <th>log_u_token_reg_hindex</th>
      <th>max_repay_fine_amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>std</th>
      <td>5.695212e+07</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2.750481</td>
      <td>16321.684261</td>
      <td>9.043481</td>
      <td>10.781119</td>
      <td>8.783290</td>
      <td>457.693302</td>
      <td>16.798069</td>
      <td>...</td>
      <td>678.096789</td>
      <td>0.413853</td>
      <td>0.815513</td>
      <td>320.348831</td>
      <td>18408.786376</td>
      <td>4.283923</td>
      <td>21115.869754</td>
      <td>1.801077</td>
      <td>5.807301</td>
      <td>3.543037</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.581913e+08</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.986042</td>
      <td>7442.021758</td>
      <td>7.776623</td>
      <td>3.245675</td>
      <td>13.646599</td>
      <td>465.271536</td>
      <td>55.584929</td>
      <td>...</td>
      <td>581.922008</td>
      <td>0.574121</td>
      <td>1.337868</td>
      <td>221.393884</td>
      <td>2184.634650</td>
      <td>1.481765</td>
      <td>10556.006830</td>
      <td>1.221695</td>
      <td>4.839810</td>
      <td>0.528823</td>
    </tr>
  </tbody>
</table>
<p>2 rows × 83 columns</p>
</div>

In [93]:
describe_diff = pd.concat([std_mean1, std_mean2])

In [94]:
describe_diff

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>od_days</th>
      <th>fst_od_days</th>
      <th>max_ious_overdue_days</th>
      <th>repay_normal_prcp_amount</th>
      <th>flight_avg_pre_order_day</th>
      <th>total_ious_overdue_days</th>
      <th>user_ip_city_count</th>
      <th>term_1_avg_ious_amount</th>
      <th>order_success_amount_ratio</th>
      <th>...</th>
      <th>flight_stddev</th>
      <th>flight_stddev_z_price</th>
      <th>card_debit_bank_count</th>
      <th>avg_serv_refund_amount</th>
      <th>contact_top1_address_city</th>
      <th>ious_overdue_terms</th>
      <th>term_1_ious_amount</th>
      <th>card_min_remain_year</th>
      <th>log_u_token_reg_hindex</th>
      <th>max_repay_fine_amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>std1</th>
      <td>5.283581e+07</td>
      <td>44.870215</td>
      <td>44.939279</td>
      <td>8.846017</td>
      <td>7374.109937</td>
      <td>7.904415</td>
      <td>59.967551</td>
      <td>7.522460</td>
      <td>409.522434</td>
      <td>18.468256</td>
      <td>...</td>
      <td>507.920514</td>
      <td>0.446992</td>
      <td>0.791222</td>
      <td>331.859979</td>
      <td>21450.638864</td>
      <td>9.538044</td>
      <td>10945.403621</td>
      <td>1.723167</td>
      <td>5.068026</td>
      <td>6.157713</td>
    </tr>
    <tr>
      <th>mean1</th>
      <td>1.742144e+08</td>
      <td>125.835448</td>
      <td>125.726540</td>
      <td>3.925985</td>
      <td>3302.634331</td>
      <td>6.083846</td>
      <td>17.619746</td>
      <td>12.093577</td>
      <td>376.431414</td>
      <td>45.665741</td>
      <td>...</td>
      <td>426.102586</td>
      <td>0.496781</td>
      <td>1.405498</td>
      <td>190.359951</td>
      <td>1941.861486</td>
      <td>3.757335</td>
      <td>5841.050876</td>
      <td>0.882270</td>
      <td>3.599789</td>
      <td>1.860037</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.695212e+07</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>2.750481</td>
      <td>16321.684261</td>
      <td>9.043481</td>
      <td>10.781119</td>
      <td>8.783290</td>
      <td>457.693302</td>
      <td>16.798069</td>
      <td>...</td>
      <td>678.096789</td>
      <td>0.413853</td>
      <td>0.815513</td>
      <td>320.348831</td>
      <td>18408.786376</td>
      <td>4.283923</td>
      <td>21115.869754</td>
      <td>1.801077</td>
      <td>5.807301</td>
      <td>3.543037</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.581913e+08</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.986042</td>
      <td>7442.021758</td>
      <td>7.776623</td>
      <td>3.245675</td>
      <td>13.646599</td>
      <td>465.271536</td>
      <td>55.584929</td>
      <td>...</td>
      <td>581.922008</td>
      <td>0.574121</td>
      <td>1.337868</td>
      <td>221.393884</td>
      <td>2184.634650</td>
      <td>1.481765</td>
      <td>10556.006830</td>
      <td>1.221695</td>
      <td>4.839810</td>
      <td>0.528823</td>
    </tr>
  </tbody>
</table>
<p>4 rows × 83 columns</p>
</div>

In [101]:
std_mean_sorted = describe_diff.T.sort_values(by='std1')

In [102]:
std_mean_sorted

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>std1</th>
      <th>mean1</th>
      <th>std</th>
      <th>mean</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>flight_stddev_z_price</th>
      <td>4.469920e-01</td>
      <td>4.967810e-01</td>
      <td>4.138529e-01</td>
      <td>5.741209e-01</td>
    </tr>
    <tr>
      <th>user_is_female</th>
      <td>4.777796e-01</td>
      <td>3.524980e-01</td>
      <td>4.893424e-01</td>
      <td>3.972845e-01</td>
    </tr>
    <tr>
      <th>card_debit_bank_count</th>
      <td>7.912218e-01</td>
      <td>1.405498e+00</td>
      <td>8.155133e-01</td>
      <td>1.337868e+00</td>
    </tr>
    <tr>
      <th>log_unknown_37_sum</th>
      <td>9.966869e-01</td>
      <td>4.007402e-01</td>
      <td>1.067474e+00</td>
      <td>4.210998e-01</td>
    </tr>
    <tr>
      <th>avg_repay_fine_amount</th>
      <td>1.073347e+00</td>
      <td>1.664334e-01</td>
      <td>7.616353e-01</td>
      <td>3.500109e-02</td>
    </tr>
    <tr>
      <th>stddev_order_hour</th>
      <td>1.073775e+00</td>
      <td>5.175514e+00</td>
      <td>9.461169e-01</td>
      <td>5.159871e+00</td>
    </tr>
    <tr>
      <th>card_avg_remain_year</th>
      <td>1.118376e+00</td>
      <td>6.207170e-01</td>
      <td>1.239568e+00</td>
      <td>9.673944e-01</td>
    </tr>
    <tr>
      <th>avg_order_hour</th>
      <td>1.382211e+00</td>
      <td>1.406980e+01</td>
      <td>1.193420e+00</td>
      <td>1.423711e+01</td>
    </tr>
    <tr>
      <th>stddev_repay_fine_amount</th>
      <td>1.449611e+00</td>
      <td>3.298948e-01</td>
      <td>9.350731e-01</td>
      <td>8.547269e-02</td>
    </tr>
    <tr>
      <th>card_normal_count</th>
      <td>1.561585e+00</td>
      <td>1.824742e+00</td>
      <td>1.782361e+00</td>
      <td>2.273727e+00</td>
    </tr>
    <tr>
      <th>card_min_remain_year</th>
      <td>1.723167e+00</td>
      <td>8.822700e-01</td>
      <td>1.801077e+00</td>
      <td>1.221695e+00</td>
    </tr>
    <tr>
      <th>card_unbind_count</th>
      <td>1.728413e+00</td>
      <td>8.028020e-01</td>
      <td>1.225579e+00</td>
      <td>5.341752e-01</td>
    </tr>
    <tr>
      <th>card_bind_count</th>
      <td>1.834626e+00</td>
      <td>2.056701e+00</td>
      <td>2.096747e+00</td>
      <td>2.647495e+00</td>
    </tr>
    <tr>
      <th>min_repay_prcp_amount_hindex</th>
      <td>1.909260e+00</td>
      <td>2.442506e+00</td>
      <td>2.569201e+00</td>
      <td>3.519864e+00</td>
    </tr>
    <tr>
      <th>card_max_remain_year</th>
      <td>2.152324e+00</td>
      <td>1.292188e+00</td>
      <td>2.359627e+00</td>
      <td>2.014846e+00</td>
    </tr>
    <tr>
      <th>hotel_avg_pre_order_day</th>
      <td>2.977213e+00</td>
      <td>9.085273e-01</td>
      <td>3.779270e+00</td>
      <td>1.589246e+00</td>
    </tr>
    <tr>
      <th>hotel_stddev_pre_order_day</th>
      <td>3.244198e+00</td>
      <td>1.376873e+00</td>
      <td>4.378636e+00</td>
      <td>2.581302e+00</td>
    </tr>
    <tr>
      <th>train_avg_pre_order_day</th>
      <td>4.216084e+00</td>
      <td>3.154877e+00</td>
      <td>4.067703e+00</td>
      <td>3.039252e+00</td>
    </tr>
    <tr>
      <th>train_stddev_pre_order_day</th>
      <td>4.515952e+00</td>
      <td>2.505473e+00</td>
      <td>4.696958e+00</td>
      <td>2.568501e+00</td>
    </tr>
    <tr>
      <th>max_loan_term</th>
      <td>5.050974e+00</td>
      <td>3.901665e+00</td>
      <td>4.665574e+00</td>
      <td>3.855234e+00</td>
    </tr>
    <tr>
      <th>pay_failed_amount_hindex</th>
      <td>5.051371e+00</td>
      <td>4.717024e+00</td>
      <td>4.560546e+00</td>
      <td>4.506151e+00</td>
    </tr>
    <tr>
      <th>log_u_token_reg_hindex</th>
      <td>5.068026e+00</td>
      <td>3.599789e+00</td>
      <td>5.807301e+00</td>
      <td>4.839810e+00</td>
    </tr>
    <tr>
      <th>ious_overdue_orders</th>
      <td>6.146912e+00</td>
      <td>2.896511e+00</td>
      <td>3.454044e+00</td>
      <td>1.274623e+00</td>
    </tr>
    <tr>
      <th>max_repay_fine_amount</th>
      <td>6.157713e+00</td>
      <td>1.860037e+00</td>
      <td>3.543037e+00</td>
      <td>5.288234e-01</td>
    </tr>
    <tr>
      <th>log_h_ensure_trigger_sum</th>
      <td>6.874525e+00</td>
      <td>3.421623e+00</td>
      <td>1.168814e+01</td>
      <td>7.857814e+00</td>
    </tr>
    <tr>
      <th>log_o_home_block_display_max</th>
      <td>7.284598e+00</td>
      <td>9.812318e+00</td>
      <td>6.350012e+00</td>
      <td>8.752668e+00</td>
    </tr>
    <tr>
      <th>user_age</th>
      <td>7.309686e+00</td>
      <td>2.993287e+01</td>
      <td>7.298772e+00</td>
      <td>3.123097e+01</td>
    </tr>
    <tr>
      <th>user_ip_city_count</th>
      <td>7.522460e+00</td>
      <td>1.209358e+01</td>
      <td>8.783290e+00</td>
      <td>1.364660e+01</td>
    </tr>
    <tr>
      <th>order_refund_count_ratio</th>
      <td>7.616258e+00</td>
      <td>8.396114e+00</td>
      <td>5.339775e+00</td>
      <td>5.945309e+00</td>
    </tr>
    <tr>
      <th>contact_avg_age</th>
      <td>7.794526e+00</td>
      <td>3.281172e+01</td>
      <td>8.674891e+00</td>
      <td>3.422058e+01</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>pay_bank_count</th>
      <td>7.320234e+01</td>
      <td>4.657415e+01</td>
      <td>1.095574e+02</td>
      <td>7.381776e+01</td>
    </tr>
    <tr>
      <th>log_u_click_msg_sum</th>
      <td>9.518484e+01</td>
      <td>5.943629e+01</td>
      <td>1.077977e+02</td>
      <td>6.632092e+01</td>
    </tr>
    <tr>
      <th>pay_min_price</th>
      <td>1.231233e+02</td>
      <td>1.182448e+01</td>
      <td>3.033269e+01</td>
      <td>4.460067e+00</td>
    </tr>
    <tr>
      <th>flight_hour</th>
      <td>1.562344e+02</td>
      <td>4.115827e+01</td>
      <td>2.462540e+02</td>
      <td>6.505337e+01</td>
    </tr>
    <tr>
      <th>ious_req_days</th>
      <td>1.654761e+02</td>
      <td>2.695041e+02</td>
      <td>2.311272e+02</td>
      <td>3.555190e+02</td>
    </tr>
    <tr>
      <th>order_count</th>
      <td>1.659404e+02</td>
      <td>1.197039e+02</td>
      <td>2.296603e+02</td>
      <td>1.596433e+02</td>
    </tr>
    <tr>
      <th>log_o_show_toast_sum</th>
      <td>1.778239e+02</td>
      <td>1.678366e+02</td>
      <td>2.440945e+02</td>
      <td>2.773916e+02</td>
    </tr>
    <tr>
      <th>hotel_avg_ious_amount</th>
      <td>2.403517e+02</td>
      <td>1.558776e+02</td>
      <td>3.517854e+02</td>
      <td>2.674945e+02</td>
    </tr>
    <tr>
      <th>train_avg_ious_amount</th>
      <td>2.443988e+02</td>
      <td>1.885422e+02</td>
      <td>2.465420e+02</td>
      <td>1.790086e+02</td>
    </tr>
    <tr>
      <th>log_f_search_round_way_sum</th>
      <td>2.717854e+02</td>
      <td>6.811327e+01</td>
      <td>5.093768e+02</td>
      <td>1.444894e+02</td>
    </tr>
    <tr>
      <th>order_avg</th>
      <td>2.894837e+02</td>
      <td>3.445591e+02</td>
      <td>2.838302e+02</td>
      <td>4.003871e+02</td>
    </tr>
    <tr>
      <th>ious_active_days</th>
      <td>3.173981e+02</td>
      <td>2.622133e+02</td>
      <td>5.911562e+02</td>
      <td>3.578938e+02</td>
    </tr>
    <tr>
      <th>avg_serv_refund_amount</th>
      <td>3.318600e+02</td>
      <td>1.903600e+02</td>
      <td>3.203488e+02</td>
      <td>2.213939e+02</td>
    </tr>
    <tr>
      <th>avg_repay_prcp_amount</th>
      <td>3.355043e+02</td>
      <td>2.621596e+02</td>
      <td>4.148246e+02</td>
      <td>3.655566e+02</td>
    </tr>
    <tr>
      <th>term_1_avg_ious_amount</th>
      <td>4.095224e+02</td>
      <td>3.764314e+02</td>
      <td>4.576933e+02</td>
      <td>4.652715e+02</td>
    </tr>
    <tr>
      <th>hotel_stddev</th>
      <td>4.165143e+02</td>
      <td>1.771514e+02</td>
      <td>5.163413e+02</td>
      <td>2.743202e+02</td>
    </tr>
    <tr>
      <th>pay_quick_avg</th>
      <td>4.374879e+02</td>
      <td>2.256488e+02</td>
      <td>5.355389e+02</td>
      <td>3.714643e+02</td>
    </tr>
    <tr>
      <th>order_cancel_avg</th>
      <td>4.726399e+02</td>
      <td>5.618923e+02</td>
      <td>5.552922e+02</td>
      <td>6.353992e+02</td>
    </tr>
    <tr>
      <th>flight_stddev</th>
      <td>5.079205e+02</td>
      <td>4.261026e+02</td>
      <td>6.780968e+02</td>
      <td>5.819220e+02</td>
    </tr>
    <tr>
      <th>log_unknown_60_sum</th>
      <td>8.291456e+02</td>
      <td>3.663742e+02</td>
      <td>1.131699e+03</td>
      <td>6.577701e+02</td>
    </tr>
    <tr>
      <th>user_birth_city</th>
      <td>1.330486e+03</td>
      <td>3.952334e+03</td>
      <td>1.347049e+03</td>
      <td>3.901529e+03</td>
    </tr>
    <tr>
      <th>repay_normal_prcp_amount</th>
      <td>7.374110e+03</td>
      <td>3.302634e+03</td>
      <td>1.632168e+04</td>
      <td>7.442022e+03</td>
    </tr>
    <tr>
      <th>term_1_ious_amount</th>
      <td>1.094540e+04</td>
      <td>5.841051e+03</td>
      <td>2.111587e+04</td>
      <td>1.055601e+04</td>
    </tr>
    <tr>
      <th>total_repay_prcp_amount</th>
      <td>1.156595e+04</td>
      <td>6.512701e+03</td>
      <td>2.212684e+04</td>
      <td>1.231810e+04</td>
    </tr>
    <tr>
      <th>pay_quick_amount</th>
      <td>1.912482e+04</td>
      <td>5.302253e+03</td>
      <td>8.650933e+04</td>
      <td>1.691668e+04</td>
    </tr>
    <tr>
      <th>contact_top1_address_city</th>
      <td>2.145064e+04</td>
      <td>1.941861e+03</td>
      <td>1.840879e+04</td>
      <td>2.184635e+03</td>
    </tr>
    <tr>
      <th>pay_debit_card_amount</th>
      <td>2.322821e+04</td>
      <td>9.777175e+03</td>
      <td>3.782876e+04</td>
      <td>1.734498e+04</td>
    </tr>
    <tr>
      <th>pay_bank_amount</th>
      <td>6.326489e+04</td>
      <td>2.352881e+04</td>
      <td>1.217635e+05</td>
      <td>4.558428e+04</td>
    </tr>
    <tr>
      <th>pay_success_amount</th>
      <td>7.568350e+04</td>
      <td>3.310709e+04</td>
      <td>1.725244e+05</td>
      <td>6.242167e+04</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>5.283581e+07</td>
      <td>1.742144e+08</td>
      <td>5.695212e+07</td>
      <td>1.581913e+08</td>
    </tr>
  </tbody>
</table>
<p>83 rows × 4 columns</p>
</div>

In [103]:
std_mean_sorted.to_csv('std_mean_sorted.csv')