In [1]:
import pandas as pd
data_bad = pd.read_table('/home/zhongjuliu/database/金融/模型/order_risk_new/ious_order_risk_samples_feature_merge_temp.txt')

In [2]:
data_bad.rename(columns=lambda x: x.split('.')[1], inplace=True)

In [4]:
data_bad.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>od_days</th>
      <th>fst_od_days</th>
      <th>label</th>
      <th>ious_amount</th>
      <th>pay_amount</th>
      <th>type_one</th>
      <th>type_two</th>
      <th>type_three</th>
      <th>type_four</th>
      <th>...</th>
      <th>credit_count_ratio</th>
      <th>credit_count_radio</th>
      <th>credit_pay_count_ratio</th>
      <th>debit_pay_amount_ratio</th>
      <th>credit_pay_amount_ratio</th>
      <th>login_city_count_one</th>
      <th>login_city_count_seven</th>
      <th>verify_phone_count</th>
      <th>verify_discity_phone_count</th>
      <th>verify_password_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>5.388500e+04</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.0</td>
      <td>53885.0</td>
      <td>53885.0</td>
      <td>53885.0</td>
      <td>...</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
      <td>53885.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.728198e+08</td>
      <td>70.112462</td>
      <td>70.100195</td>
      <td>0.503869</td>
      <td>476.256155</td>
      <td>479.741638</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>15.108230</td>
      <td>23.023198</td>
      <td>8.077220</td>
      <td>23.404677</td>
      <td>7.669036</td>
      <td>0.110031</td>
      <td>0.274492</td>
      <td>0.000724</td>
      <td>0.000186</td>
      <td>0.001113</td>
    </tr>
    <tr>
      <th>std</th>
      <td>5.373111e+07</td>
      <td>73.151627</td>
      <td>73.143543</td>
      <td>0.499990</td>
      <td>664.944284</td>
      <td>675.466513</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>34.136347</td>
      <td>41.979958</td>
      <td>27.068963</td>
      <td>42.378932</td>
      <td>26.702288</td>
      <td>0.344060</td>
      <td>0.550423</td>
      <td>0.034724</td>
      <td>0.018276</td>
      <td>0.035507</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.374000e+03</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.110000</td>
      <td>1.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.471292e+08</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>117.500000</td>
      <td>118.880000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.774997e+08</td>
      <td>90.000000</td>
      <td>90.000000</td>
      <td>1.000000</td>
      <td>238.000000</td>
      <td>240.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>0.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>-1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2.106399e+08</td>
      <td>137.000000</td>
      <td>137.000000</td>
      <td>1.000000</td>
      <td>600.000000</td>
      <td>605.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>0.000000</td>
      <td>25.000000</td>
      <td>0.000000</td>
      <td>28.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2.593562e+08</td>
      <td>199.000000</td>
      <td>199.000000</td>
      <td>1.000000</td>
      <td>19494.000000</td>
      <td>24437.000000</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>100.000000</td>
      <td>100.000000</td>
      <td>100.000000</td>
      <td>100.000000</td>
      <td>100.000000</td>
      <td>4.000000</td>
      <td>6.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
    </tr>
  </tbody>
</table>
<p>8 rows × 295 columns</p>
</div>

In [23]:
data_bad_mode = data_bad.mode().T

In [24]:
data_bad_mode.to_csv('data_bad_mode.csv')

In [5]:
feature_des = data_bad.describe().loc[['min', 'mean', 'max', 'std']].T

In [6]:
feature_des.to_csv('feature_des.csv')

In [9]:
type(data_bad)

pandas.core.frame.DataFrame

In [17]:
data_bad_corr = data_bad.corr()['label']

In [18]:
data_bad_corr.to_csv('data_bad_corr.csv')

In [14]:
import scipy.stats as stats
stats.pearsonr(data_bad['od_days'], data_bad['label'])

(0.95107400723056368, 0.0)